.right {
    margin-left: 65%;
}

.bg-color {
    background-color: #F8F9FA;
}




@media only screen and (max-width: 600px) {
    .right {
        margin-left: 0%;

    }

    .middle-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}